<template>
  <header class="header">
    <Brand />
    <Lang />
    <PhoneNavigation />
    <Navigation />

    <h1 class="header__primary">
      <span class="header__primary--main">{{ $t("romonapa") }}</span>
      <span class="header__primary--sub">{{ $t("enjoy_and_discover") }}</span>
    </h1>

    <a href="#section-tours" class="header__btn">
      <i class="header__arrow-down"></i>
    </a>
  </header>
</template>

<script>
import Brand from "~/components/Brand";
import Lang from "~/components/Lang";
import Navigation from "~/components/Navigation";
import PhoneNavigation from "~/components/PhoneNavigation";

export default {
  name: "Header",

  components: {
    Brand,
    Lang,
    Navigation,
    PhoneNavigation,
  },
};
</script>

<style src="~/assets/sass/site/layout/header.scss" lang="scss" />