<template>
  <div class="information">
    <div class="information__circle">
      <EarthIcon class="information__circle-icon" />
    </div>
    <p class="information__text">{{ label }}</p>
  </div>
</template>

<script>
import EarthIcon from "~/components/Icon/EarthIcon";

export default {
  name: "Information",

  props: ["label"],

  components: {
    EarthIcon,
  },
};
</script>

<style src="~/assets/sass/site/components/information.scss" lang="scss" />