<template>
  <div class="informations">
    <Information
      v-for="information of informations"
      :label="information.label"
      :key="information.label"
    />
  </div>
</template>

<script>
import Information from "~/components/Informations/Information";

export default {
  name: "Informations",

  data() {
    return {
      informations: [
        { label: "Text 1" },
        { label: "Text 2" },
        { label: "Text 3" },
        { label: "Text 4" },
      ],
    };
  },

  components: {
    Information,
  },
};
</script>

<style src="~/assets/sass/site/components/informations.scss" lang="scss" />