<template>
  <div class="calendar">
    <span class="calendar__label">{{ label }}</span>
    <div class="calendar__input">
      <span class="calendar__date">{{ date }}</span>
      <CalendarIcon class="calendar__icon" />
    </div>
  </div>
</template>

<script>
import CalendarIcon from "~/components/Icon/CalendarIcon";

export default {
  name: "Select",

  props: ["label", "date"],

  components: {
    CalendarIcon,
  },
};
</script>

<style src="~/assets/sass/site/components/calendar.scss" lang="scss" />