<template>
  <div class="select">
    <span class="select__label">{{ label }}</span>
    <div class="select__input">
      <span class="select__text">{{ text }}</span>
      <DownArrowIcon class="select__icon" />
    </div>
  </div>
</template>

<script>
import DownArrowIcon from "~/components/Icon/DownArrowIcon";

export default {
  name: "Select",

  props: ["label", "text"],

  components: {
    DownArrowIcon,
  },
};
</script>

<style src="~/assets/sass/site/components/select.scss" lang="scss" />