<template>
  <div class="tour">
    <div
      :class="[
        'tour__side',
        'tour__side--front',
        'tour__picture',
        `tour__picture--${tour.image}`,
      ]"
    >
      <Rate class="tour__rate" :rate="tour.rate" />
      <h4 class="tour__heading">{{ tour.heading }}</h4>
      <p class="tour__desc">{{ tour.desc }}</p>
      <div class="tour__price">${{ tour.price.toFixed(2) }}</div>
    </div>
    <div class="tour__side tour__side--back">
      <Rate class="tour__rate" :rate="tour.rate" />
      <h4 class="tour__heading">{{ tour.heading }}</h4>
      <div class="tour__info-list">
        <div class="tour__info-item">
          <ClockIcon class="tour__info-icon" />
          <p class="tour__info-label">{{ tour.time }}</p>
        </div>
        <div class="tour__info-item">
          <AnnouncerIcon class="tour__info-icon" />
          <p class="tour__info-label">{{ tour.lang }}</p>
        </div>
        <div class="tour__info-item">
          <TicketIcon class="tour__info-icon" />
          <p class="tour__info-label">{{ tour.ticket }}</p>
        </div>
      </div>
      <div class="tour__tour-book">
        <div class="tour__tour-book-btn">
          {{ $t("tour.btn") }}
        </div>
        <p class="tour__tour-book-price">
          {{ $t("tour.price", { price: tour.price.toFixed(2) }) }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Rate from "~/components/Rate";
import AnnouncerIcon from "~/components/Icon/AnnouncerIcon";
import ClockIcon from "~/components/Icon/ClockIcon";
import TicketIcon from "~/components/Icon/TicketIcon";

export default {
  name: "Tour",

  props: ["tour"],

  components: {
    Rate,
    AnnouncerIcon,
    ClockIcon,
    TicketIcon,
  },
};
</script>

<style src="~/assets/sass/site/components/tour.scss" lang="scss" />