<template>
  <div class="tours">
    <Tour v-for="tour of tours" :tour="tour" :key="tour.heading" />
  </div>
</template>

<script>
import StarIcon from "~/components/Icon/StarIcon";
import Tour from "~/components/Tours/Tour";

export default {
  name: "Tours",

  data() {
    return {
      tours: [
        {
          image: 1,
          heading: "Tour A",
          rate: 5,
          time: this.$t("tour.time", { time: 8 }),
          lang: this.$t("tour.lang.en"),
          ticket: this.$t("tour.ticket.mobile"),
          price: 189,
          desc: "Enim ut sem viverra aliquet eget sit amet tellus cras. Turpis massa sed elementum tempus egestas sed sed.",
        },
        {
          image: 2,
          heading: "Tour B",
          rate: 3,
          time: this.$t("tour.time", { time: 8 }),
          lang: this.$t("tour.lang.en"),
          ticket: this.$t("tour.ticket.mobile"),
          price: 65,
          desc: "Enim ut sem viverra aliquet eget sit amet tellus cras. Turpis massa sed elementum tempus egestas sed sed.",
        },
        {
          image: 3,
          heading: "Tour C",
          rate: 4,
          time: this.$t("tour.time", { time: 8 }),
          lang: this.$t("tour.lang.en"),
          ticket: this.$t("tour.ticket.mobile"),
          price: 76,
          desc: "Enim ut sem viverra aliquet eget sit amet tellus cras. Turpis massa sed elementum tempus egestas sed sed.",
        },
      ],
    };
  },

  components: {
    StarIcon,
    Tour,
  },
};
</script>

<style src="~/assets/sass/site/components/tours.scss" lang="scss" />