@import "~/assets/sass/abstracts/mixins";

.section-book {
    @include grid-container-temp;
    margin-top: -5rem;

    @include respond(phone) {
        margin-top: 0;
        height: 35vh;
    }
}

.section-tourist-information {
    @include grid-container-temp;
    padding-bottom: 5rem;

    &__center {
        grid-column: center-start / center-end;
    }

    @include respond(phone) {
        padding: 0 3rem 5rem 3rem;
    }
}

.section-tours {
    @include grid-container-temp;
    background-color: var(--color-background-gray-light);
    padding-bottom: 5rem;

    &__center {
        grid-column: center-start / center-end;
    }

    @include respond(phone) {
        padding: 0 3rem 5rem 3rem;
    }
}

.section-gallery {
    @include grid-container-temp;
    margin-top: 8rem;
    padding-bottom: 5rem;

    &__center {
        grid-column: center-start / center-end;
    }
}
