*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;

    @include respond(tab-land) {
        font-size: 56.25%; // 1rem = 9px/16px
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px/16px
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12px/16px
    }
}

body {
    box-sizing: border-box;

    @include respond(tab-port) {
        &.popup {
            overflow: hidden;
        }
    }
}
