<template>
  <div class="book">
    <div class="book__text">
      <span class="book__text--main">{{ $t("book.main") }}</span>
      <span class="book__text--sub">{{ $t("book.sub") }}</span>
    </div>

    <Select class="book__tour-select" :label="$t('tours')" text="Select Tour" />
    <Calendar
      class="book__calendar-from"
      :label="$t('book.from')"
      :date="from"
    />
    <Calendar class="book__calendar-to" :label="$t('book.to')" :date="to" />

    <div class="book__check-btn">{{ $t("book.btn") }}</div>
  </div>
</template>

<script>
import Calendar from "~/components/Input/Calendar";
import Select from "~/components/Input/Select";

export default {
  name: "Book",

  data() {
    return {
      from: "2021-10-26",
      to: "2021-10-26",
    };
  },

  components: {
    Calendar,
    Select,
  },
};
</script>

<style src="~/assets/sass/site/components/book.scss" lang="scss" />