<template>
  <div class="brand">
    <MountainIcon class="brand__icon" />
    <span class="brand__text"
      >R<span class="brand__dot">&#8226;</span>M<span class="brand__dot"
        >&#8226;</span
      >N<span class="brand__dot">&#8226;</span>P</span
    >
  </div>
</template>

<script>
import MountainIcon from "~/components/Icon/MountainIcon";

export default {
  name: "Brand",

  components: {
    MountainIcon,
  },
};
</script>

<style src="~/assets/sass/site/components/brand.scss" lang="scss" />