<template>
  <div class="gallery">
    <figure class="gallery__item gallery__item--1">
      <img
        src="~/assets/img/gal-01.jpg"
        alt="Gallery image 1"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--2">
      <img
        src="~/assets/img/gal-02.jpg"
        alt="Gallery image 2"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--3">
      <img
        src="~/assets/img/gal-03.jpg"
        alt="Gallery image 3"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--4">
      <img
        src="~/assets/img/gal-04.jpg"
        alt="Gallery image 4"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--5">
      <img
        src="~/assets/img/gal-05.jpg"
        alt="Gallery image 5"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--6">
      <img
        src="~/assets/img/gal-06.jpg"
        alt="Gallery image 6"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--7">
      <img
        src="~/assets/img/gal-07.jpg"
        alt="Gallery image 7"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--8">
      <img
        src="~/assets/img/gal-08.jpg"
        alt="Gallery image 8"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--9">
      <img
        src="~/assets/img/gal-09.jpg"
        alt="Gallery image 9"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--10">
      <img
        src="~/assets/img/gal-10.jpg"
        alt="Gallery image 10"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--11">
      <img
        src="~/assets/img/gal-11.jpg"
        alt="Gallery image 11"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--12">
      <img
        src="~/assets/img/gal-12.jpg"
        alt="Gallery image 12"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--13">
      <img
        src="~/assets/img/gal-13.jpg"
        alt="Gallery image 13"
        class="gallery__img"
      />
    </figure>
    <figure class="gallery__item gallery__item--14">
      <img
        src="~/assets/img/gal-14.jpg"
        alt="Gallery image 14"
        class="gallery__img"
      />
    </figure>
  </div>
</template>

<script>
export default {
  name: "Gallery",
};
</script>

<style src="~/assets/sass/site/components/gallery.scss" lang="scss" />