<template>
  <div class="lang">
    <div class="lang__btn" @click="popup">
      <span>{{ lang }}</span>
      <DownArrowIcon class="lang__btn-icon" />
    </div>

    <div class="lang__dropdown" v-if="show">
      <div class="lang__dropdown-button" @click="popup">
        <span
          class="lang__dropdown-button-line lang__dropdown-button-line--top"
        >
          &nbsp;
        </span>
        <span
          class="lang__dropdown-button-line lang__dropdown-button-line--bottom"
        >
          &nbsp;</span
        >
      </div>
      <ul class="lang__dropdown-list" v-if="show">
        <li @click="popup()">
          <nuxt-link class="lang__dropdown-link" :to="switchLocalePath('en')">
            EN
          </nuxt-link>
        </li>
        <li @click="popup()">
          <nuxt-link class="lang__dropdown-link" :to="switchLocalePath('hu')">
            HU
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import DownArrowIcon from "~/components/Icon/DownArrowIcon";

export default {
  name: "Lang",

  data() {
    return {
      lang: this.$i18n.locale,
      show: false,
    };
  },

  methods: {
    popup() {
      this.show = !this.show;

      if (this.show) {
        document.body.classList.add('popup');
      } else {
        document.body.classList.remove('popup');
      }
    },
  },

  components: {
    DownArrowIcon,
  },
};
</script>

<style src="~/assets/sass/site/layout/lang.scss" lang="scss" />