<template>
  <nav class="navigation">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link">{{ $t("home") }}</a>
      </li>
      <li class="navigation__item">
        <a href="#section-tourist-information" class="navigation__link">{{
          $t("tourist_information")
        }}</a>
      </li>
      <li class="navigation__item">
        <a href="#section-tours" class="navigation__link">{{ $t("tours") }}</a>
      </li>
      <li class="navigation__item">
        <a href="#section-gallery" class="navigation__link">{{
          $t("gallery")
        }}</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "Navigation",
};
</script>

<style src="~/assets/sass/site/layout/navigation.scss" lang="scss" />