<template>
  <div class="phone-navigation" :class="{ active: show }">
    <div class="phone-navigation__button" @click="popup">
      <span class="phone-navigation__line phone-navigation__line--top"
        >&nbsp;</span
      >
      <span class="phone-navigation__line phone-navigation__line--center"
        >&nbsp;</span
      >
      <span class="phone-navigation__line phone-navigation__line--bottom"
        >&nbsp;</span
      >
    </div>

    <nav class="phone-navigation__nav" v-if="show">
      <ul class="phone-navigation__list">
        <li class="phone-navigation__item">
          <a href="#" class="phone-navigation__link" @click="popup">{{
            $t("home")
          }}</a>
        </li>
        <li class="phone-navigation__item">
          <a
            href="#section-tourist-information"
            class="phone-navigation__link"
            @click="popup"
            >{{ $t("tourist_information") }}</a
          >
        </li>
        <li class="phone-navigation__item">
          <a
            href="#section-tours"
            class="phone-navigation__link"
            @click="popup"
            >{{ $t("tours") }}</a
          >
        </li>
        <li class="phone-navigation__item">
          <a
            href="#section-gallery"
            class="phone-navigation__link"
            @click="popup"
            >{{ $t("gallery") }}</a
          >
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "PhoneNavigation",

  data() {
    return {
      show: false,
    };
  },

  methods: {
    popup() {
      this.show = !this.show;

      if (this.show) {
        document.body.classList.add("popup");
      } else {
        document.body.classList.remove("popup");
      }
    },
  },
};
</script>

<style src="~/assets/sass/site/layout/phone-navigation.scss" lang="scss" />