<template>
  <div class="rate">
    <div :class="['rate__stars', `rate__stars--${rate}`]">
      <StarIcon class="rate__star" v-for="n in 5" :key="n" />
    </div>
  </div>
</template>

<script>
import StarIcon from "~/components/Icon/StarIcon";

export default {
  name: "Rate",

  props: ["rate"],

  components: {
    StarIcon,
  },
};
</script>

<style src="~/assets/sass/site/components/rate.scss" lang="scss" />