.title-primary {
    display: grid;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-text-gray-dark);
}

.paragraph {
    font-size: 1.4rem;
    color: var(--color-text-gray);
    text-align: center;
}