:root {
    --color-white: rgba(255, 255, 255, 1);
    --color-black: rgba(0, 0, 0, 1);
    --color-gray: rgba(170, 172, 192, 1);
    --color-text-gray: rgb(93, 93, 93);
    --color-text-gray-dark: rgb(72, 72, 72);
    --color-background-gray-light: rgb(238, 240, 244);
    --color-background-gray-dark: rgb(180, 182, 186);
    --color-header-top-dark: rgba(21, 34, 56, 1);
    --color-header-top-light: rgba(21, 34, 56, 0.4);
    --color-primary: rgb(239 , 62, 91);

    --color-shadow: rgba(0, 0, 0, 0.15)
}