@import "~/assets/sass/abstracts/mixins";

.container {
    display: grid;
    grid-template-rows:
        [header-start] 7rem
        [header-end content-start] 1fr
        [content-end];
    grid-template-columns:
        [left-start] 25rem
        [left-end right-start] 1fr
        [right-end];

    margin: auto;
    background-color: var(--color-grey-dark);
    height: 100%;
    width: 120rem;

    min-height: 50rem;
    box-shadow: 0 2rem 6rem var(--color-shadow);

}
