.admin-header {
    display: grid;
    align-items: center;

    grid-row: header-start / header-end;
    grid-column: left-start / right-end;

    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
    background-size: cover;
    background-repeat: no-repeat;

    font-size: 1.4rem;
    color: var(--color-white);

    padding: 0 2rem;
}
