@import "~/assets/sass/abstracts/mixins";

@mixin grid-container-temp() {
    display: grid;
    grid-template-columns:
        [full-start]
        minmax(6rem, 1fr)
        [center-start]
        minmax(min-content, 96rem)
        [center-end]
        minmax(6rem, 1fr)
        [full-end];

    @include respond(tab-port) {
        grid-template-columns:
            [full-start]
            0
            [center-start]
            100%
            [center-end]
            0
            [full-end];
    }
}