body {
    display: grid;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to right bottom, var(--color-background-light), var(--color-background-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
