<template>
  <div class="container">
    <Header />

    <main class="main">
      <section class="section-book">
        <Book />
      </section>

      <section
        id="section-tourist-information"
        class="section-tourist-information"
      >
        <div class="section-tourist-information__center">
          <h2 class="title-primary">{{ $t("tourist_information") }}</h2>
          <p class="paragraph">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>

          <Informations />
        </div>
      </section>

      <section id="section-tours" class="section-tours">
        <div class="section-tourist-information__center">
          <h2 class="title-primary">{{ $t("tours") }}</h2>
          <p class="paragraph">
            Viverra aliquet eget sit amet tellus cras adipiscing enim eu.
            Viverra nibh cras pulvinar mattis.
          </p>

          <Tours />
        </div>
      </section>

      <section id="section-gallery" class="section-gallery">
        <Gallery class="section-gallery__center" />
      </section>
    </main>

    <footer class="footer">
      <div>footer</div>
    </footer>
  </div>
</template>

<script>
import Book from "~/components/Book";
import Gallery from "~/components/Gallery";
import Header from "~/components/Header/Header";
import Informations from "~/components/Informations/Informations";
import Tours from "~/components/Tours/Tours";

export default {
  components: {
    Book,
    Gallery,
    Header,
    Informations,
    Tours,
  },
};
</script>

<style lang="scss">
@import "~/assets/sass/site/site.scss";
</style>