@import "~/assets/sass/abstracts/mixins";

.header {
    display: grid;
    grid-template-rows:
        [info-start] minmax(min-content, 5rem)
        [info-end navigation-start] 5rem
        [navigation-end primary-start] 2fr
        [primary-end btn-start] 1fr
        [btn-end];
    grid-template-columns:
        [left-start] 1fr
        [left-end right-start] 1fr
        [right-end];
    height: 80vh;
    text-align: center;

    background-image: linear-gradient(to bottom, var(--color-header-top-dark), var(--color-header-top-light)),
        url("~assets/img/bear-lake.jpg");
    background-size: cover;
    background-position: top;

    .brand {
        grid-row: info-start / info-end;
        grid-column: left-start / left-end;
        padding-left: 5rem;
    }
    .lang {
        grid-row: info-start / info-end;
        grid-column: right-start / right-end;
        padding-right: 5rem;
    }

    .navigation {
        grid-row: navigation-start / navigation-end;
        grid-column: left-start / right-end;
    }

    &__primary {
        display: grid;
        grid-row: primary-start / primary-end;
        grid-column: left-start / right-end;
        color: var(--color-white);
        text-transform: uppercase;
        row-gap: 2rem;

        &--main {
            display: grid;
            align-content: end;
            font-size: 3.6rem;
            letter-spacing: 0.4rem;
        }

        @include respond(tab-port) {
            padding: 0 2rem;
        }
    }

    &__btn {
        display: grid;
        grid-row: btn-start / btn-end;
        grid-column: left-start / right-end;
        width: 5rem;
        height: 5rem;
        border: 2px solid var(--color-white);
        border-radius: 50%;
        justify-self: center;

        @include respond(phone) {
            width: 7rem;
            height: 7rem;
        }
    }

    &__arrow-down {
        border: solid var(--color-white);
        margin-top: -5px;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        transform: rotate(45deg);
        align-self: center;
        justify-self: center;
    }

    @include respond(phone) {
        height: 65vh;

        .brand {
            grid-row: navigation-start / navigation-end;
            grid-column: left-start / right-end;
            padding: 0;
            width: auto;
            justify-content: center;
        }

        .phone-navigation {
            padding-top: 2rem;
            padding-left: 2rem;
            grid-row: info-start / info-end;
            grid-column: left-start / left-end;
        }
    }
}
