@import "~/assets/sass/abstracts/mixins";

.lang {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: end;
    color: var(--color-white);
    font-size: 1.2rem;

    &__btn {
        display: grid;
        grid-auto-flow: column;
        column-gap: 0.5rem;
        cursor: pointer;
        padding: 0.5rem;
        text-transform: uppercase;
    }

    &__btn-icon {
        display: grid;
        width: 1.4rem;
        height: 1.4rem;
        fill: var(--color-primary);
    }

    &__dropdown {
        position: absolute;
        z-index: 1200;
        top: 4rem;
        right: 5rem;
        background-color: var(--color-primary);
        padding: 0.5rem 1.5rem;
    }

    &__dropdown-button {
        display: none;
        cursor: pointer;
        justify-items: center;
        align-items: center;
        position: fixed;
        top: 2rem;
        left: 2rem;
        height: 7rem;
        width: 7rem;
        background-color: var(--color-text-gray);
        border-radius: 50%;
        user-select: none;
    }

    &__dropdown-button-line {
        position: absolute;
        height: 0.5rem;
        width: 4rem;
        background-color: var(--color-white);

        &--top {
            transform: rotate(-45deg);
        }

        &--bottom {
            transform: rotate(45deg);
        }
    }

    &__dropdown-list {
        display: grid;
        align-content: center;
        align-items: center;
        row-gap: 0.5rem;
        list-style-type: none;
    }

    &__dropdown-link {
        color: var(--color-white);
        text-decoration: none;
    }

    @include respond(phone) {
        &__dropdown {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
        }

        &__dropdown-button {
            display: grid;
        }

        &__dropdown-list {
            row-gap: 5rem;
            height: 100vh;
        }

        &__dropdown-link {
            font-size: 3.6rem;
        }
    }
}
