@import "~/assets/sass/abstracts/mixins";

.navigation {
    align-self: center;

    &__list {
        display: flex;
        justify-content: center;
        list-style: none;
    }

    &__item {
        padding: 0 1.5rem;
    }

    &__link {
        text-decoration: none;
        color: var(--color-gray);
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        border-bottom: 2px solid transparent;
        padding-bottom: 5px;

        &:hover {
            color: var(--color-white);
            border-bottom: 2px solid var(--color-primary);
        }
    }

    @include respond(phone) {
        display: none;
    }
}