@import "~/assets/sass/abstracts/mixins";

.phone-navigation {
    display: none;
    position: relative;
    user-select: none;

    &__button {
        display: grid;
        justify-items: center;
        align-items: center;
        position: absolute;
        cursor: pointer;
        background-color: var(--color-primary);
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        z-index: 1100;
    }

    &__line {
        position: absolute;
        height: 0.5rem;
        width: 4rem;
        background-color: var(--color-white);

        transition: all 0.2s;

        &--top {
            transform: translateY(-1.5rem);

            .active & {
                transform: rotate(-45deg);
            }
        }

        .active &--center {
            width: 0;
        }

        &--bottom {
            transform: translateY(1.5rem);

            .active & {
                transform: rotate(45deg);
            }
        }
    }

    &__nav {
        row-gap: 5rem;
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: var(--color-text-gray);
        transition: all 0.2s;
    }

    &__list {
        display: grid;
        align-content: center;
        align-items: center;
        row-gap: 5rem;
        height: 100vh;
    }

    &__link {
        font-size: 3.6rem;
        color: var(--color-white);
        text-decoration: none;
    }

    @include respond(phone) {
        display: unset;
    }
}
