@import "~/assets/sass/abstracts/mixins";

.book {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    grid-column: center-start / center-end;
    justify-content: space-between;
    padding: 1rem 3rem;
    height: 10rem;
    background-color: var(--color-primary);

    &__text {
        display: grid;

        color: var(--color-white);
        text-transform: uppercase;

        &--main {
            display: grid;
            align-content: end;
            font-size: 2.8rem;
        }
        &--sub {
            font-size: 1.4rem;
            letter-spacing: 1px;
        }
    }

    &__check-btn {
        display: grid;
        align-content: center;
        cursor: pointer;
        padding: 0 2rem;
        background-color: var(--color-text-gray);
        color: var(--color-white);
        text-transform: uppercase;

        &:hover {
            background-color: var(--color-text-gray-dark);
        }
    }

    @include respond(phone) {
        gap: 1rem;
        padding: 2rem 3rem;

        grid-template-rows:
            [text-start] 1fr
            [text-end tour-select-start] 1fr
            [tour-select-end calendar-start] 1fr
            [calendar-end check-start] 5rem
            [check-end];
        grid-template-columns:
            [left-start] 1fr
            [left-end right-start] 1fr
            [right-end];
        height: 100%;

        &__text {
            grid-row: text-start / text-end;
            grid-column: left-start / right-end;
        }

        &__tour-select {
            grid-row: tour-select-start / tour-select-end;
            grid-column: left-start / right-end;
        }

        &__calendar-from {
            grid-row: calendar-start / calendar-end;
            grid-column: left-start / left-end;
        }

        &__calendar-to {
            grid-row: calendar-start / calendar-end;
            grid-column: right-start / right-end;
        }

        &__check-btn {
            grid-row: check-start / check-end;
            grid-column: left-start / right-end;
            font-size: 1.4rem;
            text-align: center;
        }
    }
}