.brand {
    display: grid;
    grid-auto-flow: column;
    width: fit-content;
    cursor: pointer;
    user-select: none;
    align-self: center;

    &__icon {
        width: 40px;
        height: 40px;
        fill: var(--color-primary);
    }

    &__text {
        display: flex;
        align-items: center;
        margin-left: 5px;
        align-self: center;
        height: 100%;
        color: var(--color-gray);
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 2px;
    }

    &__dot {
        color: var(--color-primary);
    }
}