.calendar {
    display: grid;
    row-gap: 0.5rem;

    &__label {
        align-self: end;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--color-white);
        text-transform: uppercase;
    }

    &__date {
        font-size: 1.4rem;
    }

    &__input {
        display: grid;
        align-self: start;
        grid-auto-flow: column;
        column-gap: 0.5rem;
        justify-content: space-between;
        background-color: var(--color-white);
        color: var(--color-text-gray);
        padding: 1rem;
    }

    &__icon {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        fill: var(--color-text-gray);

        &:hover {
            fill: var(--color-primary);
        }
    }
}