@import "~/assets/sass/abstracts/mixins";

.information {
    display: grid;
    row-gap: 2rem;

    &__circle {
        display: grid;
        justify-self: center;
        align-self: center;
        padding: 3rem;
        background-color: var(--color-background-gray-light);
        border-radius: 50%;
    }

    &__circle-icon {
        width: 3rem;
        height: 3rem;
        fill: var(--color-background-gray-dark);

        @include respond(phone) {
            width: 4rem;
            height: 4rem;
        }
    }

    &__text {
        text-transform: uppercase;
        font-size: 1.4rem;
        text-align: center;
        color: var(--color-text-gray);
    }
}