@import "~/assets/sass/abstracts/mixins";

.informations {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    justify-items: center;
    column-gap: 5rem;
    padding-top: 5rem;

    @include respond(phone) {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5rem;
        column-gap: 0;
    }
}