@import "~/assets/sass/abstracts/mixins";

.rate {
    text-align: center;

    &__star {
        width: 1.6rem;
        height: 1.6rem;
        fill: var(--color-background-gray-light);
    }

    &__stars {
        &--1 {
            & > :nth-child(-n + 1) {
                fill: var(--color-primary);
            }
        }

        &--2 {
            & > :nth-child(-n + 2) {
                fill: var(--color-primary);
            }
        }

        &--3 {
            & > :nth-child(-n + 3) {
                fill: var(--color-primary);
            }
        }

        &--4 {
            & > :nth-child(-n + 4) {
                fill: var(--color-primary);
            }
        }

        &--5 {
            & > * {
                fill: var(--color-primary);
            }
        }
    }

    @include respond(phone) {
        &__star {
            width: 2rem;
            height: 2rem;
        }
    }
}