@import "~/assets/sass/abstracts/mixins";

.tours {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
    padding-top: 5rem;

    @include respond(tab-port) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    @include respond(phone) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(1, 1fr);
        row-gap: 5rem;
        column-gap: 0;
    }
}