@import "~/assets/sass/abstracts/mixins";

.tour {
    perspective: 150rem;
    position: relative;
    height: 30rem;

    &__side {
        position: absolute;
        height: 100%;
        width: 100%;
        transition: all 0.8s ease;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem var(--color-shadow);

        &--front {
            display: grid;
            grid-template-rows:
                [rate-start]
                5rem
                [rate-end name-start]
                1fr
                [name-end desc-start]
                2fr
                [desc-end price-start]
                1fr
                [price-end];
            row-gap: 1rem;
            color: var(--color-white);
        }

        &--back {
            display: grid;
            grid-template-rows:
                [rate-start]
                5rem
                [rate-end name-start]
                2rem
                [name-end info-start]
                2fr
                [info-end tour-book-start]
                3rem
                [tour-book-end];
            row-gap: 1rem;
            transform: rotateY(180deg);
            background-color: var(--color-white);
            color: var(--color-text-gray);
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__rate {
        display: grid;
        align-content: end;
    }

    &__heading {
        display: grid;
        align-content: start;
        color: inherit;
        text-transform: uppercase;
        font-size: 1.4rem;
        font-weight: 500;
        text-align: center;
    }

    &__desc {
        padding: 0 2rem;
        font-size: 1.4rem;
        color: var(--color-gray);
        text-align: center;
    }

    &__picture {
        background-size: cover;

        &--1 {
            background-image: linear-gradient(to bottom, var(--color-header-top-dark), var(--color-header-top-light)),
                url("~assets/img/ture-front-page-1.jpg");
        }

        &--2 {
            background-image: linear-gradient(to bottom, var(--color-header-top-dark), var(--color-header-top-light)),
                url("~assets/img/ture-front-page-2.jpg");
        }

        &--3 {
            background-image: linear-gradient(to bottom, var(--color-header-top-dark), var(--color-header-top-light)),
                url("~assets/img/ture-front-page-3.jpg");
        }
    }

    &__price {
        color: var(--color-white);
        font-size: 1.4rem;
        text-align: center;
    }

    &__tour-book {
        display: grid;
        grid-auto-flow: column;
    }

    &__tour-book-btn {
        cursor: pointer;
        display: grid;
        background-color: var(--color-primary);
        color: var(--color-white);
        text-decoration: none;
        align-content: center;
        text-align: center;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__tour-book-price {
        display: grid;
        align-content: center;
        text-align: center;
        background-color: var(--color-background-gray-light);
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__info-list {
        display: grid;
        align-self: center;
        justify-self: center;
        row-gap: 0.5rem;
    }

    &__info-item {
        display: grid;
        grid-auto-flow: column;
        column-gap: 2rem;
    }

    &__info-icon {
        width: 2rem;
        height: 2rem;
        fill: var(--color-text-gray);
    }

    &__info-label {
        font-size: 1.4rem;
        font-weight: 500;
    }

    @include respond(phone) {
        &__side {
            transition: none;

            &--back {
                transform: rotateY(0);
                grid-template-rows:
                    [rate-start]
                    5rem
                    [rate-end name-start]
                    2rem
                    [name-end info-start]
                    2fr
                    [info-end tour-book-start]
                    5rem
                    [tour-book-end];
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__heading {
            font-size: 1.6rem;
        }

        &__tour-book-btn {
            font-size: 1.4rem;
        }
    }
}
