:root {
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    --color-background-light: rgb(66, 92, 101);
    --color-background-dark: rgb(38, 51, 64);
    --color-primary-light: rgb(66, 217, 180);
    --color-primary-dark: rgb(48, 200, 230);
    --color-grey-light: rgb(50, 56, 65);
    --color-grey-dark: rgb(34, 39, 49);
    --color-alert-light: rgb(232, 76, 61);
    --color-alert-dark: rgb(161, 55, 54);
    --color-shadow: rgba(0, 0, 0, 0.3);
}
