<template>
  <svg :viewBox="viewBox">
    <path :d="d" />
  </svg>
</template>

<script>
export default {
  name: "ClockIcon",

  data() {
    return {
      viewBox: "0 0 32 32",
      d: "M20.586 23.414l-6.586-6.586v-8.828h4v7.172l5.414 5.414zM16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM16 28c-6.627 0-12-5.373-12-12s5.373-12 12-12c6.627 0 12 5.373 12 12s-5.373 12-12 12z",
    };
  },
};
</script>