<template>
  <svg :viewBox="viewBox">
    <path :d="d1" />
    <path :d="d2" />
    <path :d="d3" />
  </svg>
</template>

<script>
export default {
  name: "MountainIcon",

  data() {
    return {
      viewBox: "0 0 100 100",
      d1: "M18.7134 64.6047L28.0702 45.8605L32.7485 49.1047L37.4269 52.3488L51.462 30L68.4211 54.5116L69.0058 52.3488L71.4851 51.7376L73.9644 51.1263L74.8538 50.907V57.3953L77.193 59.7984L85.3801 68.2093L86.5497 76.1395L88.3041 86.2326L79.5322 66.7674L85.3801 68.2093L77.193 59.7984L73.9766 74.6977L73.0994 92C73.1448 91.105 73.3073 83.6513 73.4885 74.8779C73.5033 74.1611 73.5182 73.4356 73.5332 72.7041L69.7029 55.4831L62.9355 69.706L68.4211 66.7674L54.386 87.6744L65.9802 60.2791L56.7251 38.6512V53.0698L51.462 30C49.9778 40.5206 46.9752 61.4718 46.2854 65.0612L48.8546 70.0496L52.0468 63.1628L50.8772 77.5814L48.3709 71.093L46.1988 65.4698L45.3077 63.1628L45.0292 62.4419L51.462 30L37.4269 58.1163L20.4678 80.4651L35.6725 55.2326L31.9498 50.6432L28.0702 58.1163V51.1323L20.4678 64.6047L12.8655 83.3488L18.7134 64.6047L7.60234 74.8779L10.5263 76.1395L0 81.907L7.60234 74.8779L18.7134 64.6047Z",
      d2: "M18.7134 64.6047L28.0702 45.8605M18.7134 64.6047L7.60234 74.8779M18.7134 64.6047L12.8655 83.3488L20.4678 64.6047M28.0702 45.8605L20.4678 64.6047M28.0702 45.8605L29.8246 48.0233M28.0702 45.8605L32.7485 49.1047M28.0702 45.8605V58.1163L32.7485 49.1047M37.4269 52.3488L51.462 30M37.4269 52.3488L35.6725 55.2326M37.4269 52.3488L32.7485 49.1047M51.462 30L68.421 54.5116M51.462 30L45.0292 62.4419L45.3077 63.1628M51.462 30L37.4269 58.1163L20.4678 80.4651L35.6725 55.2326M51.462 30L56.7251 53.0698V38.6512L65.9802 60.2791M51.462 30C49.9025 41.0543 46.6667 63.6242 46.1988 65.4698M68.421 54.5116L69.0058 52.3488M68.421 54.5116L65.9802 60.2791M69.0058 52.3488L71.4851 51.7376M69.0058 52.3488C69.0058 52.3488 72.0354 65.9699 73.9766 74.6977M74.8538 57.3953V50.907L73.9644 51.1263M74.8538 57.3953C74.8538 57.3953 74.3192 67.9407 73.9766 74.6977M74.8538 57.3953C74.8538 57.3953 75.7975 58.3649 77.193 59.7984M85.3801 68.2093C85.8369 71.3063 86.5497 76.1395 86.5497 76.1395M85.3801 68.2093C83.0963 67.6462 79.5322 66.7674 79.5322 66.7674L88.3041 86.2326L86.5497 76.1395M85.3801 68.2093C82.846 65.6059 79.4359 62.1027 77.193 59.7984M86.5497 76.1395L100 86.2326M7.60234 74.8779L0 81.907L10.5263 76.1395L7.60234 74.8779ZM35.6725 55.2326L29.8246 48.0233M54.386 87.6744L65.9802 60.2791M54.386 87.6744L68.421 66.7674L62.9355 69.706M54.386 87.6744L62.9355 69.706M73.9644 51.1263L71.4851 51.7376M73.9644 51.1263C73.8428 57.355 73.6575 66.6911 73.4885 74.8779C73.3073 83.6513 73.1448 91.105 73.0994 92C73.0994 92 73.634 81.4547 73.9766 74.6977M71.4851 51.7376L62.9355 69.706M48.3709 71.093L50.8772 77.5814L52.0468 63.1628L48.3709 71.093ZM48.3709 71.093L46.1988 65.4698M45.3077 63.1628L50.8772 73.9767M45.3077 63.1628L46.1988 65.4698M20.4678 64.6047L29.8246 48.0233M73.9766 74.6977L77.193 59.7984",
      d3: "M60.1995 36.0116C62.3264 34.2383 63.8463 31.8564 64.5504 29.1933C65.2545 26.5301 65.1081 23.7165 64.1315 21.139C63.1549 18.5615 61.3959 16.3468 59.0964 14.7991C56.7968 13.2514 54.0695 12.4468 51.2892 12.4958C48.509 12.5449 45.8124 13.4452 43.57 15.073C41.3275 16.7007 39.6494 18.9761 38.7661 21.5864C37.8829 24.1967 37.8379 27.0137 38.6373 29.6503C39.4368 32.2869 41.0415 34.6137 43.2308 36.3109L44.2209 35.059C42.2928 33.5644 40.8796 31.5152 40.1755 29.1932C39.4715 26.8712 39.5111 24.3903 40.289 22.0914C41.0668 19.7926 42.5448 17.7887 44.5196 16.3552C46.4945 14.9216 48.8694 14.1287 51.3179 14.0855C53.7663 14.0424 56.1682 14.751 58.1934 16.114C60.2186 17.477 61.7677 19.4275 62.6278 21.6974C63.4879 23.9674 63.6168 26.4453 62.9967 28.7907C62.3766 31.136 61.038 33.2337 59.1649 34.7954L60.1995 36.0116Z",
    };
  },
};
</script>